@import "./reset.scss";
@import "./var.scss";

.free-space {
  background: url("../public/pattern/pattern-1.png") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 10vmin;
}

.index-background {
  background: url("../public/pattern/pattern-hand.webp") no-repeat top center,
    url("../public/pattern/pattern-1.webp") no-repeat center;
  background-size: 180%, cover;

  @import "./components/main.scss";

  .bottom-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
  }

  @import "./components/nama.scss";
  @import "./components/undangan.scss";
  @import "./components/akad.scss";

  padding: 0 5vmin;
}

@import "./components/gallery.scss";
@import "./components/video.scss";
@import "./components/amplop.scss";
@import "./components/pesan.scss";
@import "./components/einvitation.scss";
@import "./components/footer.scss";

//switch
@import "./components/switch.scss";

//responsiveness
@media (min-width: 462px) {
  .index-background {
    background-size: 150%, cover;
  }
}

@media (min-width: 640px) {
  .index-background {
    background-size: 140%, cover;
  }
}

@media (min-width: 768px) {
  .index-background {
    background-size: 130%, cover;
  }
}

@media (min-width: 1024px) {
  .index-background {
    background-size: 160%, cover;
    padding: 0 15vmin;
  }
}

@media (min-width: 1280px) {
  .index-background {
    background-position: center 0vmin, center;
    background-size: 100%, cover;
  }
}

@media (min-width: 1536px) {
  .index-background {
    background-position: center 0vmin, center;
    background-size: 100%, cover;
    padding: 0 30vmin;
  }
}

@media (min-width: 1920px) {
  .index-background {
    background-position: center 0vmin, center;
    background-size: 100%, cover;
  }
}

.expand-button {
  @media (max-width: 1023px) {
    fill: $color-green1;
  }
}