.akad {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 6vmin;
  padding-bottom: 10vmin;

  .left {
    color: $color-green1;
    text-align: center;

    p {
      font-family: $font-base;
      font-size: 3vmin;
      margin: 0;
    }

    h5 {
      font-family: $font-base;
      font-size: 5vmin;
      margin: 0;
    }
  }

  .right {
    color: $color-green1;
    text-align: center;

    p {
      font-family: $font-base;
      font-size: 3vmin;
      margin: 0;
    }

    h5 {
      font-family: $font-base;
      font-size: 5vmin;
      margin: 0;
    }
  }
}

@media (min-width: 1024px) {
  .akad {
    flex-direction: row;
    justify-content: space-between;

    .left {
      text-align: left;
    }

    .right {
      text-align: right;
    }
  }
}
