.main {
  height: 80vh;
  
  .main-first {
    text-align: center;
    padding-top: 20vmin;
    z-index: 5;

    .main-first-title {
      font-family: $font-title;
      color: white;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      font-size: 10vmin;
    }
    p {
      color: white;
      font-family: $font-base;
      font-size: 4vmin;
    }
    hr {
      margin: auto;
      max-width: 50vmin;
      color: white;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

  .main-flowers {

    .flower-1 {
      left: 40px;
      top: 80px;
      position: absolute;

      @media (max-width: 800px) {
        display: none;
      }
    }

    .flower-2 {
      right: 40px;
      bottom: 120px;
      position: absolute;

      @media (max-width: 800px) {
        right: 20px;
        bottom: 100px;
      }
    }

    
  }
}
